In [3]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass #to get the password without showing the input
import seaborn as sns
import matplotlib.pyplot as plt

password = getpass.getpass()

········

In [32]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
query = '''
select f.title, f.film_id, f.release_year, f.rental_duration, r.return_date, f.length, f.rating, f.special_features, r.rental_date 
from sakila.inventory i
join film f on i.film_id = f.film_id
join rental r on i.inventory_id = r.inventory_id
;
'''

data = pd.read_sql_query(query, engine)
data.head()

,title,film_id,release_year,rental_duration,return_date,length,rating,special_features,rental_date
0,ACADEMY DINOSAUR,1,2006,6,2005-07-11 21:29:15,86,PG,"Deleted Scenes,Behind the Scenes",2005-07-08 19:03:15
1,ACADEMY DINOSAUR,1,2006,6,2005-08-11 21:35:10,86,PG,"Deleted Scenes,Behind the Scenes",2005-08-02 20:13:10
2,ACADEMY DINOSAUR,1,2006,6,2005-08-30 22:26:43,86,PG,"Deleted Scenes,Behind the Scenes",2005-08-21 21:27:43
3,ACADEMY DINOSAUR,1,2006,6,2005-06-06 00:36:07,86,PG,"Deleted Scenes,Behind the Scenes",2005-05-30 20:21:07
4,ACADEMY DINOSAUR,1,2006,6,2005-06-23 17:45:00,86,PG,"Deleted Scenes,Behind the Scenes",2005-06-17 20:24:00

In [27]:
#3 Analyze extracted features and transform them. You may need to encode some categorical variables, 
#or scale numerical variables.

In [33]:
data.shape

(16044, 9)

In [40]:
data.dtypes

title               object
film_id             object
release_year         int64
rental_duration      int64
return_date          int64
length               int64
rating              object
special_features    object
rental_date          int64
dtype: object

In [35]:
data.isna().sum()

title                 0
film_id               0
release_year          0
rental_duration       0
return_date         183
length                0
rating                0
special_features      0
rental_date           0
dtype: int64

In [36]:
import datetime as dt

data['rental_date'] = data['rental_date'].map(dt.datetime.toordinal)
data['return_date'] = data['return_date'].map(dt.datetime.toordinal)

In [37]:
data.head()

,title,film_id,release_year,rental_duration,return_date,length,rating,special_features,rental_date
0,ACADEMY DINOSAUR,1,2006,6,732138,86,PG,"Deleted Scenes,Behind the Scenes",732135
1,ACADEMY DINOSAUR,1,2006,6,732169,86,PG,"Deleted Scenes,Behind the Scenes",732160
2,ACADEMY DINOSAUR,1,2006,6,732188,86,PG,"Deleted Scenes,Behind the Scenes",732179
3,ACADEMY DINOSAUR,1,2006,6,732103,86,PG,"Deleted Scenes,Behind the Scenes",732096
4,ACADEMY DINOSAUR,1,2006,6,732120,86,PG,"Deleted Scenes,Behind the Scenes",732114

In [38]:
data['film_id'] = data['film_id'].astype('object')

In [39]:
data.head()

,title,film_id,release_year,rental_duration,return_date,length,rating,special_features,rental_date
0,ACADEMY DINOSAUR,1,2006,6,732138,86,PG,"Deleted Scenes,Behind the Scenes",732135
1,ACADEMY DINOSAUR,1,2006,6,732169,86,PG,"Deleted Scenes,Behind the Scenes",732160
2,ACADEMY DINOSAUR,1,2006,6,732188,86,PG,"Deleted Scenes,Behind the Scenes",732179
3,ACADEMY DINOSAUR,1,2006,6,732103,86,PG,"Deleted Scenes,Behind the Scenes",732096
4,ACADEMY DINOSAUR,1,2006,6,732120,86,PG,"Deleted Scenes,Behind the Scenes",732114